{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "accounts/login/css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "accounts/login/css/main.css" %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" >
                    {% csrf_token %}
					<span class="login100-form-title p-b-26">
                         ثبت نام فروشنده
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

					<div class="wrap-input100 validate-input" >
						<input class="input100" type="number" name="phone">
						<span class="focus-input100" data-placeholder="تلفن"></span>
					</div>
                    <div class="wrap-input100 validate-input" >
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="نام کاربری"></span>
					</div>
                    <div style="display: none" class="wrap-input100 validate-input" >
                        <select name="role" required="" id="id_role">

                            <option value="SELLER" selected>SELLER</option>


                        </select>
					</div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password1">
						<span class="focus-input100" data-placeholder="رمز عبور"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password2">
						<span class="focus-input100" data-placeholder="تکرا رمز عبور"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								ساخت اکانت
							</button>
						</div>
					</div>

					<div class="text-center p-t-15">
                        <span class="txt1">
							اکانت دارید؟
						</span>
                        <a class="txt2" href="{% url 'accounts:login' %}">
							ورود
						</a>



					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static "accounts/login/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "accounts/login/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "accounts/login/vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "accounts/login/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "accounts/login/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "accounts/login/vendor/daterangepicker/moment.min.js" %}"></script>
	<script src="{% static "accounts/login/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "accounts/login/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "accounts/login/js/main.js" %}"></script>

</body>
</html>